html {
	overflow-y: visible;
}

body {
	margin: 0px;
	font-family: calibri;
	background-color: rgb(230,230,230);
}

section {
	background-color: white;
	padding: 5px;
	margin: 5px;
}

nav {
  text-align: center;
}
nav .actif {
  font-weight: bold;
}

#serialSelect0, #serialSelect1 {
	margin-bottom: 5px;
	flex: none;
}

/*#table {
	border: 1px solid red;
}*/
.flottant_table {
	position: absolute;
	opacity: 0;
	/*transition: opacity 0.3s;*/
}

#infobulle {
	padding: 1px 2px;
	/*border: 1px solid #eeeeee;*/
	background-color: #eeeeee;
	font-size: 0.8em;
	font-family: calibri;
	z-index: 999;
}
#curseur {
	width: 3px;
	height: 3px;
	background-color: green;
}


/**** Flex Box ****/
/**
Rappels :
https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Utilisation_des_flexbox_en_CSS 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
**/
.flexRow {
  display: flex;
}

#main {
  display: flex;
  flex-direction: column;
}
#flexBox {
	display: flex;
	height: 560px;
}
#sTable {
	/*width: 805px;*/
	/*height: 540px;*/
  flex: 0 0 770px;
}
#blocTable {
	position: relative;
	overflow: hidden;
}
#sRobot0, #sRobot1 {
	/* RÃ©glages flex-item */
	flex: 1 0 140px; /* Se rÃ©partissent l'espace restant sans pouvoir se rÃ©duire, avec une base de 140px */
	overflow: hidden;
    
    /* RÃ©glages flex-conteneur */
	display: flex;
	flex-direction: column;
}

#sRobot0 h2, #sRobot1 h2 {
	margin: 0px 0px 5px 0px;
	position: relative;
}
#sRobot0 h2 {
	color: blue;
	border-bottom: 2px solid blue;
}
#sRobot1 h2 {
	color: orange;
	border-bottom: 2px solid orange;
}

#flexBoxBas {
  display: flex;
}
#sLogMonitor {
  flex: 1 0 auto;
}
#optionsTable {
  column-count: 3;
  min-width: 600px;
}
#sActionsMonitor {
  flex: 0;
  display: flex;
  flex-direction: column;
}


/*** OptionsA (Extraire + Envoi des messages) ***/
.optionsRobotA {
  /* flex-item */
  flex: 0 0 auto;

  /* flex-conteneur */
  display: flex;
  margin: 5px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}
.optionsRobotA * {
  font-size: 0.9em;
}
#msg0, #msg1 {
  flex: 1 2 auto;
  border: 0;
  /*background-color: rgb(240,240,240);*/
  border: 1px solid #dddddd;
}

.bExport {
  text-align: left;
  border: 0px;
  /*border-right: 1px solid #f0f0f0;*/
  flex: 2 1 auto;
  background: none;
  /*margin-right: 30px;*/
  padding: 0px 3px;
  color: #bbbbbb;
}
#bExtrairePR:hover { color: blue; }
#bExtraireGR:hover { color: orange; }


/********************/


#led0, #led1 {
    position: absolute;
	top: 0px;
	height: 20px;
	right: 0px;
	width: 20px;
	/*border-radius: 10px;*/
}

.cpu_box {
  position: absolute;
  right: 23px;
  top: 0px;
  background-color: #eeeeee;
  height: 20px;
  width: 10px;
}
#cpu0, #cpu1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0%;
}

#led0.off, #led1.off { background-color: #dddddd; }
#led0.on, #cpu0 { background-color: blue; }
#led1.on, #cpu1 { background-color: orange; }

.bExport:hover { cursor: pointer; }

#logRobot0, #logRobot1 {
  flex-grow: 1;
  overflow-y: auto;
  word-wrap: break-word;
}

.logMsg.highlight {
  background-color: lightgreen;
}

.logMsg[data-evenement]:hover {
  background-color: lightgreen;
}
.msgSent {
  background-color: #f3f3f3;
}

.infoTimer, #valeurTMatch0, #valeurTMatch1 {
	color: grey;
	padding-right: 2px;
	font-size: 0.8em;
}
.pointRepere0, .pointRepere1 {
	font-size: 0.9em;
	padding: 0px 2px;
}
.pointRepere0 {
	color: cyan;
}
.pointRepere1 {
	color: magenta;
}

#obstacle0, #obstacle1 {
	padding: 2px 5px;
	font-size: 2em;
	text-align: center;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	color: #dddddd;
}
#obstacle0.oui {
	background-color: blue;
	color: white;
}
#obstacle1.oui {
	background-color: orange;
	color: white;
}

#match0, #match1 {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #dddddd;
}
#curseurTMatch0, #curseurTMatch1 {
  width: 95%;
}

#logMonitor {
  /*height: 150px;*/
  overflow-y: auto;
}


/**** Options pour la table *****/

#optionsAffichageTable label {
  display: inline-block;
  width: 70px;
}
.optionAffichageTable {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 10px;
  margin-top: 2px;
  padding: 2px;
  text-align: center;
  background-color: #eeeeee;
  color: #aaaaaa;
  cursor: pointer;
}
.optionAffichageTable.on {
  border: 1px solid grey;
  background-color: white;
  padding: 1px;
}
#opt_svg-Positions0.on {
  color: blue;
  border-color: blue;
}
#opt_svg-Positions1.on {
  color: orange;
  border-color: orange;
}
#opt_svg-Destinations0.on {
  color: green;
  border-color: green;
}
#opt_svg-Destinations1.on {
  color: red;
  border-color: red;
}
#opt_svg-Evenements0.on {
  color: cyan;
  border-color: cyan;
}
#opt_svg-Evenements1.on {
  color: yellow;
  border-color: yellow;
}